.post{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}
.post_body{
    flex: 1;
    padding: 10px;
}
.post_body img{
    border-radius: 20px;
    width: 100%;
}
.post_footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.post_icons{
    outline: none !important;
}
.post_Badge{
    font-size: 17px !important;
    color: var(--twitter-color);
}
.post_headerText h3{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 700;
}
.header_Special{
    font-weight: 600;
    font-size: 15px;
    color: gray;
}
.post__headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}
.post_avatar{
    padding: 15px;
}
.time{
    font-size: 13px;
    color: gray;
}